.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px; /* Adjust the height as desired */
  }
  
  .navbar-brand {
    margin-left: 20px; /* Adjust the left margin as desired */
  }
  
  .navbar-nav {
    margin-left: -10px; /* Adjust the left margin as desired */
  }
  
  .nav-link {
    margin-left: 10px; /* Adjust the left margin as desired */
    position: relative; /* Add relative positioning */
  }
  
  .nav-link:hover {
    color: orange; /* Set the hover color to orange */
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Adjust the bottom position as desired */
    left: 0;
    right: 0;
    height: 2px;
    background-color: orange; /* Set the color of the underline */
    visibility: hidden;
    transform: scaleX(0);
    transition: visibility 0s, transform 0.3s ease-in-out;
  }
  
  .nav-link:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .navbar-toggler {
    margin-left: 0; /* Remove the left margin */
    padding: 0.375rem 0.75rem; /* Adjust the padding as desired */
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }
  
  .logo {
    height: 50px; /* Adjust the logo height as desired */
  }
  
  /* Additional styles for responsiveness */
  
  @media (max-width: 767.98px) {
    .navbar {
      height: auto; /* Reset the height for mobile devices */
    }
    
    .navbar-nav {
      margin-left: 0; /* Reset the left margin for mobile devices */
      margin-top: 10px; /* Add top margin for mobile devices */
    }
    
    .nav-item {
      margin-bottom: 10px; /* Add bottom margin for each nav item in mobile devices */
    }
    
    .navbar-toggler {
      margin-left: 0.75rem; /* Reset the left margin for mobile devices */
    }
  }
  